.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

.E {
  background-color: rgb(175, 175, 175);
}

.A {
  background-color: #036ec7;
  color: rgb(238, 238, 238);
}

.R {
  background-color: rgb(206, 15, 15);
  color: rgb(238, 238, 238);
}

.Y {
  background-color: rgb(247, 202, 78);
}

.G {
  background-color: rgb(0, 91, 0);
  color: rgb(238, 238, 238);
}

.B {
  background-color: rgb(70, 33, 201);
  color: rgb(238, 238, 238);
}

.O {
  background-color: #ff8800;
  color: rgb(238, 238, 238);
}

.K {
  background-color: #000000;
  color: rgb(238, 238, 238);
}

.W {
  background-color: #523827;
  color: rgb(238, 238, 238);
}

.dotrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.2em;
  width: 15%;
}

.textinput {
  display: inline-block;
}
.submitbutton {
  display: inline-block;
}

.submitrow {
  width: 12%;
  margin-left: auto;
  margin-right: auto;
}

.legend {
  width: 19.5%;
}

textarea {
  resize: none;
}

#victory {
  font-size:xx-large;
  text-align: center;
}

#note {
  font-size: small;
  text-align: center;
}